# CREATE A .env file

# Database
POSTGRES_DB= # Name of the database
POSTGRES_USER= # User of the database
POSTGRES_PASSWORD= # Password of the database

# Spring
DATASOURCE_USER= # User of the database
DATASOURCE_PASSWORD= # User of the database
DATASOURCE_URL= # URL of the database
BIGQUERY_CREDENTIALS= # File .json credentials of google cloud bigquery